@import "../styles/base.scss";

.contact-form {
    input, textarea, button {
        border: gray solid 2px;
        min-width: 20rem;
    
        &:focus {
            border-color: $blue;
        }
    }

    button {
        background-color: lightgray;
        cursor: pointer;

        &:hover {
            border-color: $blue;
        }
    }

    div {
        margin-bottom: 0.5rem;
    }
}