@import "./layout.module.scss";

.main-wrapper {
    @include mainWrapper();
}

.nav {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.9rem;
    padding-bottom: 0.5rem;

    @media screen and (min-width: 480px) {
        font-size: 1rem;
    }

    ul {
        display: flex;
        font-family: sans-serif;
        font-size: 1.2em;
        list-style: none;
        margin-left: 0;
        padding-bottom: 0;

        &:first-child {
            align-self: flex-start;
            flex-grow: 1;
            margin: auto 0;
            order: 1;

            @media screen and (min-width: 480px) {
                order: 0;
            }

            li {
                &:not(:first-child) {
                    padding-left: 1em;
                }
    
                &:not(:last-child) {
                    border-right: #ddd solid 2px;
                    padding-right: calc(1em + 2px);
                }
            }
        }

        &:not(:first-child) {
            margin-bottom: 0.5rem;
            margin-top: 0.5rem;

            @media screen and (min-width: 480px) {
                margin-top: 0;
            }
        }

        li {
            margin-bottom: 0;

            a {
                color: #ddd;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            svg {
                height: 2.5rem;
                width: auto;
            }
        }

        li:not(:first-child) {
            svg {
                margin-left: 0.5rem;
            }
        }
    }
}
